.link {
    text-decoration: none;
    color: aqua;
    margin: 10px;
}
.link:hover {
    color:blueviolet
}
.active {
    color:red;
}
.block{
    width: 20px;
    height: 20px;
    margin: 10px;
    background: bisque;
}
.header {
    display: flex;
    width: 480px;
    transition-duration: 500ms;
    transform: translate(-320px);
}
.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}