.message__background{
    display: flex;
    align-items: flex-end;
    max-width: 400px;
    min-height: 130px;
    background-color: chartreuse;
}

.message__avatar{
    border-radius: 50%;
    height: 100px;
    
}
.message__right{
    background-repeat: no-repeat;
    width: 90%;
    background-color:black;
    display: flex;
    margin:  5px 20px;
    border-radius:5px 5px 5px 0;
    -webkit-border-radius:5px 5px 5px 0;
    -moz-border-radius:5px 5px 5px 0;
    -ms-border-radius:5px 5px 5px 0;
    -o-border-radius:5px 5px 5px 0;
}
.message__name{
    color: blueviolet;
}
.message__chat{
    
    
    margin-left: 10px;
}
.message__message{
    word-wrap: break-word;
    
    color: cadetblue;
}
.message__time{
    position: absolute;
    left:110px;
    bottom: 1px;
    color:crimson;
    
}
.message__time__out{
    position: relative;
    
}